.mio-padre {
  height: 400px;
  aspect-ratio: 1/1;
  border: 1px dashed red;
}

.si-corre {
  background-image: url('https://raw.githubusercontent.com/RiccardoCarluccio/my-father-images/main/Mio%20Padre%20che%20Corre.png?token=GHSAT0AAAAAACCZ6652XJBKXLZTOERPAOQAZFFWT3A');
  background-size: cover;
}